.authError {
  background: rgba(207, 44, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  height: 70px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}
.authError--isVisible {
  display: flex;
}
.authError--hidden {
  display: none;
}
.authError p {
  font-size: 18px;
}
.authError-header {
  color: #cf2c00;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  align-items: center;
}
.authError-errorTxt {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #cf2c00;
  opacity: 0.5;
}
.authError-smile {
  margin-right: 5px;
}
