.VerticalDotes {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
.VerticalDotes svg {
  width: 4px;
  height: 4px;
}
.VerticalDotes svg:nth-child(2) {
  margin: 3px 0px;
}
