.header {
  height: 50px;
  background: #f6f6f6;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}
.header div {
  display: flex;
  align-items: center;
  margin: 0px 1em;
}
.header p {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #0d0d0d;
}
.header span {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #0d0d0d;
}
.header-accountName {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 15px;
  flex: none;
  order: 0;
  align-self: center;
  margin: 30px 0px;
}
.header-fullScreenIcon {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-fullScreenIcon:hover path {
  stroke: #0055fb;
}
.header-fullScreenIcon:focus path {
  stroke: #0055fb;
}
.header-fullScreenIcon:focus {
  box-shadow: 0px 0px 0px 2px rgba(69, 165, 255, 0.5);
  border-radius: 7px;
}
